.container {
  margin: auto;
  width: 95%;
  padding: 2%;
}

th {
  text-align: left;
}

button {
    color: black;
}

.new_form {
    width: 50%;
    margin: auto;
}

.wide_input {
    width: 100%;
    margin-bottom: 5%;
}

.list {
    background-color: gainsboro;
    padding: 4%;
    border: 1px dotted black;
}

.list-item {
    list-style-type: none;
    font-size: 24px;
    margin: 2%;
}

.title-header {
    background-color: lightblue;
    padding: 4%;
}

a {
  color: black;
}

a:visited {
    color: darkslategray;
}

.big_btn {
  padding: 2%;
  font-weight: bold;
  font-size: 1.2em;
  background-color: white;
  margin: 2%;
}