<div class="container">
  <header class="title-header">
    <h1>SMS Polling Results</h1>
  </header>
  <ul class = "list">
    <% @questions.each do |question| %>
      <li class ="list-item"><a href="/questions/<%=question.id%>"><%= question.body %></a></li>
    <% end %>
  </ul>

</div>
