  <form class ="new_form" action="/questions" method="post">
    <h2>Create a new Poll question:</h2>

     <h3>Question</h3>
      <input type="text" class ="wide_input" name="question" class="form-field" placeholder = "what do you want to know?">

    <input type="submit" value="Save Question!" class="form-submit">
    <a href = "/"><button class="form-cancel">Cancel</button></a>
</form>