<script src="/js/application.js"></script>
<div class="container">
    <h2 id="<%=@question.id%>">Poll Results</h2>
    <div class ="results">
        <div id="chartContainer">
        </div>
    </div>

<div class = "buttons">
    <form class ="question_actions" method = "POST" action = "/questions/<%=@question.id%>">
        <input name="_method" type="hidden" value="delete" />
        <input type = "submit" value = "Delete Question" class = "big_btn">
    </form>
</div>
</div>
